/* You can add global styles to this file, and also import other style files */
.bg-img
{
    background-image: url('https://thumbs.dreamstime.com/z/blue-background-image-to-do-list-paperclips-102882510.jpg');
    background-position: center;
    background-repeat: no-repeat; 
}